.text-center {
    text-align: center;
}

    .text-center > h1 {
        margin-bottom: 50px;
        margin-top: 32px;
    }

.link-style > a {
    font-size: 20px;
    padding: 10px 25px;
    background-color: #CACACA;
    color: black;
    text-decoration: none;
    margin: 15px;
}